<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input 
    matInput
    placeholder="Nombre"
    formControlName="firstName"
    id="firstname">
  </mat-form-field>
  <mat-form-field>
    <input 
    matInput
    placeholder="Apellido"
    formControlName="lastName"
    id="lastname">
  </mat-form-field>
  <mat-form-field>
    <input 
    matInput
    placeholder="Correo electrónico"
    formControlName="email"
    id="email">
  </mat-form-field>
  <mat-form-field>
    <input
    type="password" 
    matInput
    placeholder="Contraseña"
    formControlName="password"
    id="password">
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent">Registrarse</button>
</form>